@using WebApplication1.Models
@model Patient


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Patient</h2>
            </hr>
        </div>
        @*<div asp-validation-summary="All"></div>*@
       <div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		 <div class="mb-3">
            <label asp-for="Gender"></label>
            <br>
            Male<input checked="checked" id="Gender"  name="Gender" type="radio"  value="Male"/>
            Female<input id="Gender"  name="Gender" type="radio"  value="Female"/>
            </br>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
		<div class="mb-3">
			<label asp-for="Birthday"></label>
			<input asp-for="Birthday" class="form-control" />
			<span asp-validation-for="Birthday" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Address"></label>
			<input asp-for="Address" class="form-control" />
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Country"></label>
			<input asp-for="Country" class="form-control" />
			<span asp-validation-for="Country" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PhoneNumber"></label>
			<input asp-for="PhoneNumber" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DrugAllergy"></label>
			<input asp-for="DrugAllergy" class="form-control" />
			<span asp-validation-for="DrugAllergy" class="text-danger"></span>

			 
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Patient" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
		</div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
